name: Build and deploy Hugo site

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.110.0'
          extended: true

      - name: Get theme
        run: |
          mkdir -p themes
          git clone https://github.com/yihui/hugo-xmin themes/hugo-xmin

      - name: Build
        run: hugo --minify
        env:
          HUGO_THEME_MODULE: "false"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
